.advantages {
  padding: 45px 0 0;
}

.advantages__intro-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 0 30px;
  padding: 0 30px;

  font-size: 24px;
  text-align: center;
  color: #283645;

  b {
    margin-bottom: 30px;

    font-weight: 300;
  }

  b:last-child {
    margin: 0;
  }

  br {
    display: none;
  }
}

.advantages__list {
  @include list-unstyled;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 35px 0;

  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat 50% 0;
  background-size: 100%;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    display: none;
  }
}

.advantages__item--active {
  img {
    display: block;
  }
}

.advantages__item-title {
  margin: 0 0 5px;

  font-size: 18px;
  line-height: 24px;
}

.advantages__item-description {
  margin: 0;

  text-align: center;
}

.advantages__article {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 59px 0 0;
  }

  .advantages__intro-wrapper {
    margin: 0 0 40px;

    font-size: 40px;
    line-height: normal;

    b {
      margin: 0;
    }

    br {
      display: block;
    }
  }

  .advantages__list  {
    position: relative;

    align-items: flex-end;

    padding: 85px 40px 0;
  }

  .advantages__item {
    align-items: flex-start;

    width: 50%;
    margin: 0 0 28px;

    img {
      position: absolute;
      left: 20px;
      bottom: 0;
    }
  }

  .advantages__item-title {
    margin:  0 0 10px;
  }

  .advantages__item-description {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
  }

  .advantages__article {
    display: block;

    min-height: 335px;
    padding: 100px 40px 30px;

    background: url("../../img/clock-tablet@1x.png") no-repeat 20px 59px;
  }

  .advantages__article-wrapper {
    width: 50%;
    margin: 0 0 0 auto;
  }

  .advantages__article-title {
    margin: 0 0 10px;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
  }

  .advantages__article-text {
    margin: 0 0 10px;

    line-height: 24px;
  }

  .advantages__article-link {
    line-height: 24px;
    color: #d22856;
    text-decoration: underline;
  }
}
