.advantages {
  padding: 45px 0 0;
}

.advantages__intro-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 0 30px;
  padding: 0 30px;

  font-size: 24px;
  text-align: center;
  color: #283645;

  b {
    margin-bottom: 30px;

    font-weight: 300;
  }

  b:last-child {
    margin: 0;
  }
}

.advantages__list {
  @include list-unstyled;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 35px 0;

  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat 50% 0;
  background-size: 100%;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    display: none;
  }
}

.advantages__item--active {
  img {
    display: block;
  }
}

.advantages__item-title {
  margin: 0 0 5px;

  font-size: 18px;
  line-height: 24px;
}

.advantages__item-description {
  text-align: center;
}
