.app {
  background-color: #15212d;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 320px;
  margin: 0 auto;
  padding: 28px 0 35px;
}

.app__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
}

.app__download-button {
  margin: 0 0 32px;
}

.app__application-list {
  @include list-unstyled;

  display: flex;
  align-items: flex-end;

  margin: 0 0 30px;
}

.app__application-item {
  margin: 0 35px 0 0;

  background: no-repeat 0 0;
  background-size: contain;

  &--ios {
    width: 47px;
    height: 56px;

    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    width: 43px;
    height: 47px;

    background-image: url("../img/logo-android.svg");
  }

  &--wp {
    width: 44px;
    height: 41px;

    background-image: url("../img/logo-microsoft.svg");
  }

  &:last-child {
    margin: 0;
  }

  a {
    display: block;

    width: 100%;
    height: 100%;
  }
}

.app__description {
  margin: 0;

  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .app {
    background-color: transparent;
  }

  .app__wrapper {
    max-width: 340px;
    padding: 0 20px;
    margin: unset;
  }

  .app__application-list {
    margin: 0 0 40px;
  }

  .app__download-button {
    margin: 0 0 45px;
  }

  .app__description {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .app__download-button {
    margin: 0 0 65px;
  }

  .app__application-list {
    margin: 0 0 60px;
  }
}