.button {
  min-width: 280px;
  padding: 10px 40px;

  font: inherit;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;

  background-color: transparent;

  border: 3px solid #ffffff;
  border-radius: 30px;

  cursor: pointer;

  &--pink {
    color: #d22856;

    border-color: #d22856;
  }

  &--gray {
    color: rgba(40, 54, 69, 0.1);

    border: 3px solid rgba(40, 54, 69, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .button {
    min-width: 300px;
  }
}
