.button-flat {
  min-width: 280px;
  padding: 14px 20px;

  font: inherit;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;

  background-color: #2aab6d;

  border: solid 2px #2aab6d;
  border-radius: 3px;

  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;

    opacity: 0.3;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .button-flat {
    min-width: 300px;
  }
}