.button {
  padding: 18px 40px;

  font: inherit;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;

  background-color: transparent;

  border: 3px solid #ffffff;
  border-radius: 40px;

  cursor: pointer;
}
