.button {
  display: block;

  min-width: 280px;
  padding: 12px 15px;

  font: inherit;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;

  background-color: transparent;

  border: 3px solid #ffffff;
  border-radius: 30px;

  cursor: pointer;

  &:hover {
    color: #d22856;

    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);

    background-color: #ffffff;
  }

  &--pink {
    color: #d22856;

    border-color: #d22856;
  }

  &--pink:hover {
    color: #ffffff;

    background-color: #d22856;
  }

  &--pink:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d22856;
  }

  &--gray {
    color: rgba(40, 54, 69, 0.1);

    border: 3px solid rgba(40, 54, 69, 0.1);
  }

  &--gray:hover {
    color: rgba(40, 54, 69, 0.3);

    background-color: transparent;

    border-color: rgba(40, 54, 69, 0.3);
  }

  &--gray:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: rgba(40, 54, 69, 0.3);

    border-color: #b5b9be;
  }
}

@media (min-width: $tablet-width) {
  .button {
    min-width: 300px;
  }
}
