.contacts {
  padding: 42px 0 0;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__intro {
  margin: 0 0 32px;

  text-align: center;

  font-size: 24px;
  font-weight: 300;
}

.contacts__list {
  @include list_unstyled;

  margin: 0 0 39px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item {
  margin: 0 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-style: normal;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__item-title {
  font-size: 18px;
  line-height: normal;
}

.contacts__item-info {
  font-size: 24px;
  color: #d22856;
  text-decoration: none;
  font-weight: 300;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: #283645;
    text-decoration: none;

    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  position: relative;

  height: 195px;
  width: 100%;
  margin: 0;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.contacts__map-triangle {
  z-index: 1;

  position: absolute;
  top: 0;

  width: 100%;
}

.contacts__iframe-map {
  position: absolute;
  width: 100%;
  height: 100%;

  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts__intro {
    margin: 0 0 42px;

    font-size: 40px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 0 26px;
  }

  .contacts__item {
    width: 50%;

    margin: 0 0 45px;
  }

  .contacts__item-title {
    margin: 0 0 5px;
  }

  .contacts__map-wrapper {
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 64px 0 0;
  }

  .contacts__intro {
    margin: 0 0 56px;

    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    max-width: 960px;
    margin: 0 auto 25px;
  }

  .contacts__item {
    width: 33%;

    &--phone {
      order: -2;
    }

    &--address {
      order: -1;
    }
  }

  .contacts__item-title {
    margin: 0 0 23px;
  }

  .contacts__map-wrapper {
    min-height: 480px;
    height: 75%;
  }
}
