.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 42px 0 40px;

  &--main {
    display: none;
  }
}

.footer__logo {
  margin: 0 0 43px;

  line-height: 0;

  &[href]:hover {
    fill: #d22856;
  }

  &[href]:active {
    fill: unset;

    opacity: 0.3;
  }
}

.footer__logo-desktop {
  display: none;
}

.footer__social-list {
  @include list-unstyled;

  display: flex;

  margin: 0 0 40px;
}

.footer__social-item {
  margin: 0 15px 0 0;

  line-height: 0;

  &:last-child {
    margin: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 47px;
    height: 47px;

    border: 3px solid #e9ebec;
    border-radius: 50%;
  }

  a:hover {
    border-color: #283645;
  }

  a:active {
    opacity: 0.1;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  color: #283645;

  small {
    margin: 0 15px 0 0;

    font-size: 14px;
    line-height: normal;
  }

  &:hover svg {
    fill: #283645;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 36px 20px 50px;

    &--main {
      display: flex;
    }
  }

  .footer__logo {
   align-self: flex-start;

    margin: 0;
  }

  .footer__social-list {
    margin: 0;
    padding: 3px 0 0;
  }

  .footer__social-item {  
    &:last-child {
      margin: 0 19px 0 0;
    }
  }

  .footer__copyright {
    padding: 5px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 9px 75px 12px;
  }

  .footer__logo-mobile {
    display: none;
  }

  .footer__logo-desktop {
    display: block;
  }

  .footer__social-item {
    margin: 0 15px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .footer__copyright {
    small {
      margin: 0 13px 0 0;

      font-size: 18px;
    }
  }
}
