.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 0;

  &--main {
    display: none;
  }
}

.footer__logo {
  margin: 0 0 40px;

  line-height: 0;
}

.footer__social-list {
  @include list-unstyled;

  display: flex;

  margin: 0 0 40px;
}

.footer__social-item {
  margin: 0 15px 0 0;

  line-height: 0;

  &:last-child {
    margin: 0 19px 0 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 47px;
    height: 47px;

    border: 3px solid #e9ebec;
    border-radius: 50%;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  color: #283645;

  small {
    font-size: 14px;

    margin: 0 5px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    padding: 36px 13px 50px 20px;

    &--main {
      display: flex;
    }
  }

  .footer__logo {
   align-self: flex-start;

    margin: 0;
  }

  .footer__social-list {
    margin: 0;
    padding: 8px 0 0;
  }

  .footer__copyright {
    align-self: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 0 75px 12px;
  }

  .footer__social-item {
    margin: 0 15px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .footer__copyright {
    small {
      margin: 0 8px 0 0;

      font-size: 18px;
    }
  }
}
