.gallery {
  padding: 50px 0 0;
}

.gallery__intro {
  margin: 0 0 50px;

  text-align: center;
}

.gallery__list {
  @include list-unstyled;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__img-wrapper {
  margin: 0;

  line-height: 0;
}

.gallery__item--topday .gallery__img-wrapper {
  position: relative;
}

.gallery__img-topday {
  position: absolute;
  top: 0;
  right: 20px;

  padding: 6px 20px;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #d22856;
}

.gallery__comment {
  width: 100%;
  max-width: 280px;
  margin: 0;
  padding: 20px 13px;

  background-color: #f2f2f2;
}

.gallery__author-info {
  margin: 0 0 5px;

  line-height: 24px;
}

.gallery__author-name {
  font-style: normal;
  font-weight: 700;
}

.gallery__author-date {
  text-transform: uppercase;
  font-weight: 300;
}

.gallery__author-comment {
  margin: 0 0 15px;
}

.gallery__like-wrapper {
  display: flex;
  align-items: center;

  margin: 0;

  line-height: 0;
}

.gallery__like-button {
  width: 13px;
  height: 12px;
  margin: 0 19px 0 0;

  background: transparent url("../img/icon-heart.svg");

  border: 0;

  cursor: pointer;
}

.gallery__like-output {
  text-transform: uppercase;
  color: #d22856;
}
