.header {
  position: relative;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 700px auto;

  &--active {
    background-position: center top 255px;
  }
}

.header__wrapper {
  padding: 0 0 85px;
}

.header--main .header__wrapper {
  padding: 0 0 307px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 bottom;
}

.header__logo {
  padding: 22px 20px;

  line-height: 0;
}

.header__navigation-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 0 28px;

  background-color: rgba(0, 0, 0, 0.3);
}

.header--active .header__navigation-wrapper {
  background-color: #283645;
}

.header__navigation {
  display: none;
}

.header--active .header__navigation {
  display: block;
}

.header__navigation-list {
  @include list-unstyled;

  border-bottom: 1px solid #000000;
}

.header__navigation-item {
  padding: 21px 0;

  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  box-shadow: 0 -1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.header__toggle-button {
  position: absolute;
  top: 22px;
  right: 20px;

  width: 50px;
  height: 24px;
  padding: 0;

  background: transparent no-repeat 0 0;
  background-image: url("../img/icon-menu-burger.svg");
  background-size: contain;

  border: 0;

  cursor: pointer;
}

.header--active .header__toggle-button {
  width: 24px;
  height: 23px;

  background-image: url("../../img/icon-menu-cross.svg");
}

.header__page-intro {
  display: block;

  padding: 0 50px;

  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.header__main-img {
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 0 0 112px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    &--main {
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
      background-position: right -19px bottom 0, bottom;
      background-size: auto, 1200px auto;
    }
  }

  .header--main .header__wrapper {
    padding: 0 0 35px;

    background-image: none;
  }

  .header__navigation-wrapper {
    margin: 0 0 100px;
  }

  .header__logo  {
    padding: 27px 20px 43px;
  }

  .header__toggle-button {
    top: 44px;
    right: 20px;
  }

  .header--main  .header__page-intro {
    max-width: 185px;
    padding: 0 75px;

    padding: 0;
    margin-left: 75px;

    font-size: 40px;
    line-height: 42px;
  }

  .header__page-intro {
    font-size: 50px;
    line-height: normal;
  }
}
