.label-text {
  position: relative;

  display: flex;
  flex-direction: column;

  span {
    margin: 0 0 15px;

    text-indent: 20px;
    text-transform: uppercase;
    line-height: normal;
    color: #d22856;
  }

  input {
    padding: 13px 20px;

    font-size: 18px;
    line-height: 30px;

    border: 2px solid #e5e5e5;

    border-radius: 2px;
  }

  input::placeholder {
    color: #283645;
  }

  &--icon-phone::after,
  &--icon-mail::after {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 60px;
    height: 60px;

    background: #e5e5e5 no-repeat 50% 50%;

    border-radius: 2px 2px 0 0;
  }

  &--icon-phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--icon-mail::after {
    background-image: url("../img/icon-mail.svg");
  }
}