.reviews {
  padding: 50px 22px 10px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  @include list-unstyled;

  display: flex;
  flex-wrap: nowrap;

  margin: 0 0 40px;
}

.reviews__item-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0;

  text-align: center;
}

.reviews__author-info {
  margin: 0 0 15px;
}

.reviews__author-name {
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.reviews__author-desc {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 100px 20px 20px;
  }

  .reviews__author-info {
    order: 1;

    display: flex;
    flex-direction: column;

    margin: 0;
  }

  .reviews__author-name {
    font-size: 20px;

    margin: 0 0 5px;
  }

  .reviews__author-text {
    font-size: 18px;

    margin: 0 0 40px;
  }

  .reviews__author-desc {
    display: block;
  }
}