.reviews {
  padding: 44px 20px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  @include list-unstyled;

  display: flex;
  flex-wrap: nowrap;

  margin: 0 0 33px;
}

.reviews__item-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0;

  text-align: center;
}

.reviews__author-info {
  margin: 0 0 10px;
}

.reviews__author-name {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.reviews__author-desc {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 91px 20px 22px;
  }

  .reviews__author-info {
    order: 1;

    display: flex;
    flex-direction: column;

    margin: 0;
  }

  .reviews__author-name {
    font-size: 20px;

    margin: 0 0 4px;
  }

  .reviews__author-text {
    font-size: 18px;

    margin: 0 0 36px;
  }

  .reviews__author-desc {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 72px 20px 40px;
  }

  .reviews__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .reviews__list {
    max-width: 1200px;
    margin: 0 auto;
  }

  .reviews__item {
    padding: 120px 105px 0;

    background: url("../img/icon-quotes.svg") no-repeat 50% 0;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-desc {
    font-size: 18px;
  }
}
