.slider__toggles {
  display: flex;

  margin: 0;

  line-height: 0;

  button:not(:last-child) {
    margin-right: 13px;
  }
}

.slider__toggle {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: #283645;

  border: 3px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;

  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--active {
    background-color: #ffffff;
    border-color: #283645;

    opacity: 1;
  }

  &--active:hover,
  &--active:active {
    opacity: 1;
  }
}


@media (min-width: $desktop-width) {
  .slider {
    position: relative;

    padding: 0 22px;
  }

  .slider__toggle {
    display: none;

    &--active {
      opacity: 0.3;
    }

    &--active:hover {
      opacity: 0.6;
    }
  
    &--active:active {
      opacity: 0.1;
    }

    &:first-child,
    &:last-child {
      position: absolute;
      top: 36%;
      transform: translateY(50%);

      display: block;

      width: 22px;
      height: 41px;

      background: transparent no-repeat 0 0;
      background-size: cover;

      border: 0;

      cursor: pointer;
    }

    &:first-child {
      left: 0;

      background-image: url("../img/review-arrow-left.svg");
    }

    &:last-child {
      right: 0;

      background-image: url("../img/review-arrow-right.svg");
    }
  }
}
