@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  position: relative;

  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
