@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./scaffolding.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/slider.scss";
@import "./blocks//comment.scss";
@import "./blocks/article.scss";
@import "./blocks/label-text.scss";
@import "./blocks/input-toggle.scss";
@import "./blocks/app.scss";
@import "./blocks/advantages.scss";
@import "./blocks/reviews.scss";
@import "./blocks/price.scss";
@import "./blocks/contacts.scss";
@import "./blocks/panorama.scss";
@import "./blocks/gallery.scss";
@import "./blocks/new-post.scss";
@import "./blocks/competition.scss";
